0.json
1.json
2.json
3.json
4.json
5.json
7.json
14.json
21.json
22.json
23.json
25.json
0Whole House.json
1Front room.json
2Hall.json
3Kitchen.json
4Our room.json
5Spare room.json
7Malachi's.json
14Hot water.json
21Study.json
22Heating Socket.json
23Study socket .json
25Kitchen socket .json
zonelist.json
__pycache__/config.cpython-35.pyc
config.py